{% extends 'seller.html'%}
{% load static %}

{% block content %}



<form method="POST" class="publish_fields" enctype="multipart/form-data">

    {% csrf_token %}
    <div style="margin-bottom: 10px;">
        <p style="color: white; font-size: 20px;">{{message}}</p>
    </div>
    
    <div class="form-group">
        <!-- {{form.name.errors}} --> 
        <label for="{{form.name.id_for_label}}">Nombre</label>
        {{form.name}}
    </div>

    <div class="form-group">
        <!-- {{form.name.errors}} -->
        <label for="{{form.price.id_for_label}}">Precio</label>
        {{form.price}}
    </div>
    <script>
       document.addEventListener('DOMContentLoaded', function() {
            var numeroInput = document.getElementById('price-input');

            numeroInput.addEventListener('input', function() {
                // Get the current input value
                var valor = numeroInput.value;

            
                valor = valor.replace(/,/g, '');

                // Verify if the value is a number
                if (!isNaN(valor)) {
                    // Formatear el valor con comas cada tres dígitos desde el final
                    valor = Number(valor).toLocaleString('en-US');
                } else {
                    alert("Solo puedes ingresar números en este campo");
                    numeroInput.value = '';
                }

                // Actualizar el valor del campo de texto con el formato
                numeroInput.value = valor;
            });
        });


     </script>
     <div class="form-group-textArea">
        <!-- {{form.name.errors}} -->
        <label for="{{form.description.id_for_label}}">Descripción</label>
        {{form.description}}
    </div>
        

    <div style="display: flex; width: 100%;">

        <div class="form-group">
            <!-- {{form.name.errors}} -->
            <label for="{{form.image.id_for_label}}">Carga una portada</label>
            {{form.image}}

        </div>


    </div>
    


    
    

    <div class="submit-btn">
        <input type = "submit" value="Editar producto" class="forms_submit">
        <button type="submit" name="cancel">Cancelar</button>
        
    </div>


</form>
{% endblock %}