{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EAFIT</title>
    
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header class="main-header">
        
        <h1><img src="{% static '/Images/LCM_Logo.png' %}" alt="LCM_Logo" class="logo" width="80">Local Market</h1>
        <nav class="main-nav">
            <button>Back</button>
            <button>Log In</button>
            <button>About</button>
            <button>I Am Seller</button>
        </nav>
    </header>
    <header class="sub-header">
        <p>EAFIT</p>
        <form method= "GET" class="search_field">
            <input type="text" class="serach_input" placeholder="Put any name or price" name="search">
            <div class="search_btn">
                <button type="submit">Search</button>
            </div>
            
        </form>
        <button>Select Community</button>
    </header>
    <main>

        {% block content %}

        <div class="product-grid">

            {% for p in dataset %}

                <div class="product">
                     {% if p.image %} 
                     <div class="product-image"><img src={{p.image.url}} alt="Product_Photo" ></div>
                    
                     {% else %} 
                     <div class="product-image"><img src="{% static '/Images/ej1.jpeg' %}" alt="Product_Photo"></div>
                     {% endif %}
                    <p class="product-seller">Seller Name</p>
                    <p class="product-name">{{p.name}}</p>
                    <p class="product-price">$ {{p.price}}</p>
                    
                </div>

            {% endfor %}

           
        </div>        
        {% endblock %}
    </main>
</body>
</html>
