{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EAFIT</title>
    
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header class="main-header">
        
        <h1><img src="{% static '/Images/LCM_Logo.png' %}" alt="LCM_Logo" class="logo" width="80">Local Market</h1>
        <nav class="main-nav">
            <button>Back</button>
            <button>Log In</button>
            <button>About</button>
            <button>I Am Seller</button>
        </nav>
    </header>
    <header class="sub-header">
        <p>Current Community:</p>
        <p>EAFIT</p>
        <button>Select Community</button>
    </header>
    <main>
        <div class="product-grid">
            <div class="product">
                <div class="product-image"><img src="" alt="Product_Photo"></div>
                <p class="product-name">Product Name</p>
                <p class="product-price">$ Price</p>
                <p class="product-seller">Seller Name</p>
            </div>

            <div class="product">
                <div class="product-image"><img src="" alt="Product_Photo"></div>
                <p class="product-name">Product Name</p>
                <p class="product-price">$ Price</p>
                <p class="product-seller">Seller Name</p>
            </div>

            <div class="product">
                <div class="product-image"><img src="" alt="Product_Photo"></div>
                <p class="product-name">Product Name</p>
                <p class="product-price">$ Price</p>
                <p class="product-seller">Seller Name</p>
            </div>

            <div class="product">
                <div class="product-image"><img src="" alt="Product_Photo"></div>
                <p class="product-name">Product Name</p>
                <p class="product-price">$ Price</p>
                <p class="product-seller">Seller Name</p>
            </div>

            <div class="product">
                <div class="product-image"><img src="" alt="Product_Photo"></div>
                <p class="product-name">Product Name</p>
                <p class="product-price">$ Price</p>
                <p class="product-seller">Seller Name</p>
            </div>

            <div class="product">
                <div class="product-image"><img src="" alt="Product_Photo"></div>
                <p class="product-name">Product Name</p>
                <p class="product-price">$ Price</p>
                <p class="product-seller">Seller Name</p>
            </div>
        </div>
    </main>
    <script src="script.js"></script>
</body>
</html>
