{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EAFIT</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <header class="main-header">
            <h1><img src="{% static '/Images/LCM_Logo.png' %}" alt="LCM_Logo" class="logo" width="80">Local Market</h1>
            <nav class="main-nav">
                <form action="/EAFIT/home/">
                    <button>Back</button>
                    <button>Log In</button>
                    <button>About</button>
                    <button>I Am Seller</button>
                </form>
            </nav>
        </header>


        <form method="POST" class="publish_fields">{% csrf_token %}
            <div class="register-body">
                    <div class="register-block" id="Username">
                        <p class="register-text">
                            <label for="form.username.id_for_label">Username:</label>
                            {{form.username}}
                        </p>
                    </div>
                    <div class="register-block" id="Email">
                        <p class="register-text">
                            <label for="form.email.id_for_label">Email:</label>
                            {{form.email}}
                        </p>
                    </div>
                    <div class="register-block" id="Password">
                        <p class="register-text">
                            <label for="form.password.id_for_label">Password:</label>
                            {{form.password}}
                        </p>
                    </div>
                    <div class="register_button">
                        <input type = "submit" value="Create Account" class="forms_submit">
                    </div>        
            </div>
        </form>
    </body>
</html>