{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EAFIT</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <header class="main-header">
            <h1><img src="{% static '/Images/LCM_Logo.png' %}" alt="LCM_Logo" class="logo" width="80">Local Market</h1>
            <nav class="main-nav">
                <a href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223"/>
                      </svg>
                </a>
                <a href="../register/">
                  
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                            Registrarme
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                            <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                          </svg>

                 
                    
                </a>
    
            </nav>
        </header>
        <header class="sub-header">
            <p style="color: #ffffff; font-size: 20px; font-weight: bold;">Inicia sesión en tu cuenta</p>
               <div class="errors-notification">
                <p>{{log_error_user}}</p>
               </div>
                <nav style="display: flex;">
                    <p style="color: #ffffff; font-size: 20px; font-weight: bold; margin-right: 30px;">
                        O regístrate gratis 
                    </p> 
                    <a href="../register/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16"> 
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                            <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                        </svg>  
                    </a>

                </nav>
            
        </header>

        <div class="app-content" style="margin-top: 15%;">
            {% block content %}
        <form method="POST" class="publish_fields">
            {% csrf_token %}
            
                <div class="form-group">
                    <label for="form.username.id_for_label">Nombre de Usuario</label>
                    {{form.username}}
                </div>    
                <div class="form-group" >     
                    <label for="form.password.id_for_label">Contraseña</label>
                    {{form.password}}
                </div>

                <div class="submit-btn">
                    <input type = "submit" value="Entrar" class="forms_submit">
                </div>
                <p style="color: white; font-size: 15px; font-weight: bold;"> {{message}}</p>     
            </div>
        </form>
        {% endblock %}
        </div>
    </body>
</html>