{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EAFIT</title>
    
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<header class="main-header">
        
    <h1><img src="{% static '/Images/LCM_Logo.png' %}" alt="LCM_Logo" class="logo" width="80"><a href="/available_communities/EAFIT/products/" style="font-size: 1.5rem; text-decoration: none;">Local Market</a></h1>

    <!--This content is showing in mobile-->
    <p  class="username-res-menu" >
        {{session_user}}
      </p>
    <button class="menu-icon" id="toggle-menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
          </svg>

    </button>
    <nav class = "nav-res-menu" id="menu">
        
        <a href="javascript:history.back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
            Volver
            <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223"/>
          </svg>
        </a>
        <a href="/logout/">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
              </svg>
        </a>
          
    <a href="" >
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
          </svg>
    </a>

    </nav>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var toggleButton = document.getElementById('toggle-menu');
            var menu = document.getElementById('menu');

            toggleButton.addEventListener('click', function() {
                if (menu.style.display === 'none') {
                    menu.style.transition = '.5s'
                    menu.style.display = 'flex'; // Mostrar el menú
                } else {
                    menu.style.display = 'none'; // Ocultar el menú
                }
            });
        });
    </script>

    <!-- ---------------------------- -->
    <nav class="main-nav">
        
        
        <a  href="javascript:history.back()" >
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
                Volver
                <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223"/>
              </svg>
            </a>
            <a href="/logout/">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                  </svg>
            </a>
            <p>
                {{session_user}}
              </p>    
        <a href="community/user/profile/" >
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
              </svg>
        </a>
        
    </nav>
</header>
<header class="sub-header">

    <p>Genera una imagen para tu producto con <span style="color: rgb(46, 0, 155);font-size: 20px;">IA</span></p>
</header>


{% block content %}

<div class="app-content">

    <div class="image-generation-cont">

        <h2>Aquí está la imagen de tu producto</h2>
    
        <div class="image-generation-cont-img">
            <!--Here will be the generated image -->
            <img src="{{ image_url }}" alt="Generated Product Image">
    
        </div>
        <p>{{prompt}}</p>
        <div class="image-generation-cont-sub">
            <p style="color: #333;">¿Te gustó esta imagen?</p>
            <form method="POST" class="publish_fields" enctype="multipart/form-data" style="display: flex; margin: 0; padding: 0;">{% csrf_token %}
                <button style="margin-bottom: 20px;">Sí, establecer como portada</button>
            </form>
            
            <button onclick="reloadPage()">No, generar otra vez</button>
        </div>
       
        
    </div>

</div>


<script>
    function reloadPage() {
        // Reloads the current document
        window.location.reload();
    }
    </script>
    
{% endblock %}