/* Base styles */
html {
    width: 100%;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    --s: 50px;
    --c: #0b0c1a;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#160f29 68% 70%,#377bf800 72%;
    background: 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
    repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
    radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
  background-attachment: fixed;
}


/* Header styles */
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #a20b27;
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 40px;
}
.main-nav a {
    margin-left: 30px;
}



.sub-header {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 1rem;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    margin-top: 90px;
    width: 100%;
    height: 5rem;
    z-index: 1000;

}

.sub-header p {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.search_field {
    display: flex;
    justify-content:end;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;

}
.search_field input {
    width: 200px;
    border: none;
    background-color: #fff;
    border-right: 2px solid #3f3f3f;
}
.search_field button {
    margin-left: 10px;
    box-shadow: 3px 3px 0px #0b0c1a;
}

/* Main content styles */
main {
    margin-top: 15%;
    width: 100%;
    justify-content: center;
    display: flex;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 4rem;
    width: 50%;
}

.product {
    text-decoration: none;
    padding:0;
    background-color: #ffffff36;
    border-radius: 10px;
    width: 250px;
    min-height: 150px;
    display:grid;
    cursor: pointer;
    transition: .5s;
}
.product:hover {

    cursor: pointer;
    box-shadow: 3px 3px 0px #ffffff;
    transform: scale(1.1);
    transition: .5s;
}

.product-image {
    width: 250px;
    max-height: 180px;
    object-fit: contain;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position:relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.product-image img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 0;   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    
}
.product p {
    margin: .5rem 1rem .5rem 1rem;
    font-weight: bold;  
}

.product-name {
    font-size: 1rem;
    color: #dfe8ff;
}
.product-price{
    font-size: 1rem;
    color:#d34862;
}
.product-seller {      
    font-size: 1.4rem;
    color: #ffffff;
    padding-top: 10px;
    border-top: 2px solid #ffffff;
}

.profile_name{
    font-size: 100px; 
    color: antiquewhite; 
    left: 5%; 
    margin-top: 7%; 
    position: absolute;
}
.profile_favorites{
    
}

/* Customize these styles based on your preferences */
.main-header h1 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
    align-items: center;
    display: flex;
}


a{
    border-radius: 10px;
    background-color: #a20b27;
    color: #ffffff;
    font-size: .5rem;
    border: none;
    padding:1rem;
    cursor: pointer;
    border-radius: 10px;
    transition: .5s;
}


a:hover{
    cursor: pointer;
    box-shadow: 3px 3px 0px #ffffff;
    color: #e5f5ff;
    transition: .5s;
}

button {
    border-radius: 20px;
    transition: .5s;
    min-width: 100px;
    height: 40px;
    color: #fff;
    background-color: #A20B27;
    border: none;
    font-size: 1rem;
}

button:hover{
    cursor: pointer;
    box-shadow: 3px 3px 0px #ffffff;
    color: #ffffff;
    transition: .5s;    
}

/*Community Page Styles*/

.app-content {
    width: 100%;
    margin-top: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
      
}

.publish_fields {
   
    width: 35%;
    padding: 80px 20px 80px 20px;
    border-radius: 20px;
    background-color: #ffffff2f;
  }
  
  .form-group, .form-group-textArea {
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 10px;
    background-color: #A20B27;
    transition: .5s;
    overflow: hidden;
   

  }
  .form-group-textArea {
    margin-right: 30px;
  }

  
  
 .form-group label, .form-group-textArea label {
    display: flex;
    margin-bottom: 0.5rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 1rem;
    color: #ffffff;
    padding: 10px;
    transition: .5s;
    background-color: #A20B27;
    
  }


  
.form-group input{
    width: 100%;
    height: 30px;
    font-size: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
    transition: .5s;
    border: solid 1px white;
    background-color: #fff;
     
}

.form-group-textArea textarea{
    width: 100%;
    height: 100px;
    font-size: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
    transition: .5s;
    border: solid 1px white;
    
}
.form-group input:hover, .form-group-textArea textarea:hover{
    box-shadow: 3px 3px 0px #A20B27;
    transition: .5s;
}

.forms-control {
    background-color: #A20B27;
    border: none;
}

#id_image{
    border: none;
    background-color: #A20B27;
    color: white;
    display: flex;
    justify-content: center;
}

.submit-btn{
    display: flex;
    width: 100%;
    justify-content: center ;
}
.submit-btn input{
    margin-top: 5%;
    width: 80%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    background-color: #A20B27;
    transition: .5s;
}
.submit-btn input:hover{
    
    color: #eeeeee;
    box-shadow: 3px 3px 0px #ffffff;
}

.user-seller-reg {
    max-width: 30%;
    height: 10%;
    display: flex;
    flex-direction: column;
    background-color: #A20B27;
    border-radius: 10px;
    margin-left:7%;
    padding: 20px;
    box-shadow: 3px 3px 0px #ffffff;
}
.user-seller-reg p {
    font-size: 18px;
    color: #fff;
}


/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #0b0c1a; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #ffffff; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Roundness of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #120e38; /* Color of the scrollbar thumb on hover */
}

.product-content-view {
    width: 50%;
    height: 480px;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff23;
    display: flex;
    justify-content: space-between;
    transition: .5s;
}
.product-content-view:hover{
    transform: scale(1.1);
    transition: .5s;
}

.prod-img-cont {
    width: 50%;
    height: 100%;
    background-color: #ffffff34;
    border-radius: 10px;
    overflow: hidden;
}
.prod-img-cont img {
    width: 100%;
    height: auto;
}

.prod-detail {
    width: 40%;
    height: 480px;
    background-color: #ffffff3d;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow:hidden;
}
.prod-detail h2 {
    font-size: 25px;
    color: white;
    padding: 20px;
    background-color: #A20B27;
}
.min-details {
    background-color: #0d132218;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 250px;
}
.min-details p{
    font-weight: bold;
    color: rgb(226, 95, 128);
    margin: 0 0 15px 0;

}
.min-details h3 {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 15px ;
    margin-top: 0;
}
.prod-rating p {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bolder;
}

.product-seller-profile{
    width: 20%;
    height: 480px;
    margin-right: 8%;
    border-radius: 20px;
    background-color: #ffffff23;
    display: flex;
    flex-direction: column;
    justify-content: start;
    transition: .5s;
}
.product-seller-profile:hover{

    transform: scale(1.1);
    transition: .5s;
}

.product-seller-profile-img-cont{
    width: 100%;
    height: 30%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #A20B27;
}



.errors-notification p{
    font-size: 20px;
    color: #A20B27;
}
